In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('all_articles_in_text.csv')

In [3]:
df

                                                   Text
0     DORNBIRN In der Schulgasse in Dornbirn hat ein...
1     FELDKIRCH Im Altenreuteweg in Feldkirch hat ei...
2     LUDESCH In der Raggalerstraße in Ludesch hat e...
3     DORNBIRN Im Fohramoos in Dornbirn hat ein Gebä...
4     VANDANS In der Bahnhofstraße 5 in Vandans wurd...
...                                                 ...
3697  SATTEINS In der Alten Schlinserstraße 3 in Sat...
3698  FELDKIRCH Ein Mehrfamilienhaus in der Reichsst...
3699  LAUTERACH Im Haag in Lauterach hat ein 193 Qua...
3700  NÜZIDERS Ein Gebäude in der Landstraße in Nüzi...
3701  LUSTENAU Im Bereich Brändlestraße in Lustenau ...

[3702 rows x 1 columns]